/* Mobile-basic */
.features {
  padding: 96px 0;
}

.container-features {
  display: flex;
  flex-direction: column;
  gap: calc(3 * var(--outer-gap));
}

.container-features-list-headers {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 8px;
  line-height: 1.11;
  text-transform: capitalize;
}

.container-features-list-icon {
  display: none;
}

.container-features-list-text {
  font-weight: 500;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container-features {
    flex-direction: row;
    gap: calc(var(--outer-gap) * 3) var(--outer-gap);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .container-features-list-headers {
    text-align: left;
  }

  .container-features-list {
    width: calc((100% - var(--outer-gap)) / 2);
    max-width: 356px;
  }
}

/* Desktop */
@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }

  .container-features-list {
    width: calc((100% - 3 * var(--outer-gap)) / 4);
    gap: var(--outer-gap);
  }

  .container-features-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 100px;
    background-color: var(--cloud);
    margin-bottom: 8px;
  }

  .container-features-list-text {
    font-weight: 400;
  }
}
